<table>
  <tr>
    <th>Title:</th><td><%= @feed.title %></td>
  </tr>
  <tr>
    <th>Format:</th><td><%= @feed.format %></td>
  </tr>
  <tr>
    <th>Source:</th><td><%= @feed.source %></td>
  </tr>
  <tr>
    <th>Criteria:</th><td><%= @feed.criteria %></td>
  </tr>
</table>

<%= link_to 'Index', inkling_feeds_path %>
<%= link_to 'Edit', edit_inkling_feed_path(@feed) %>
<%= link_to 'Delete', inkling_feed_path(@feed), :method => :delete %>
